@charset "UTF-8";
/* Sass Расширения */
.body_repair__leave_request--button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--dark-blue);
  height: 52px;
  color: #fff;
  font-weight: 700;
  line-height: 24.38px;
  font-size: 20px;
  width: 100%;
}

.body_repair {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: #000000;
  padding: 0 250px;
  /* Колонка с формой*/
  /* Изображение "Кузовного ремонта" */
  /* Адаптивное изображение "Кузовного ремонта" */
}
@media (max-width: 1650px) {
  .body_repair {
    padding: 0 100px;
  }
}
@media (max-width: 1300px) {
  .body_repair {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .body_repair {
    padding: 0 10px;
    margin-top: 0;
  }
}
.body_repair--caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.51px;
}
@media (max-width: 600px) {
  .body_repair--caption {
    font-size: 32px;
    line-height: 39.01px;
  }
}
.body_repair__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 1100px) {
  .body_repair__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}
@media (max-width: 600px) {
  .body_repair__wrapper {
    gap: 0;
  }
}
.body_repair__steps {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .body_repair__steps {
    align-self: flex-start;
    width: 100%;
  }
}
.body_repair__steps--progress_bar {
  margin-top: 10px;
  display: none;
  width: 100%;
  height: 5px;
}
@media (max-width: 600px) {
  .body_repair__steps--progress_bar {
    display: block;
  }
}
.body_repair__steps--progress_bar {
  display: none;
  border-radius: 0px;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  border-radius: 15px;
}
.body_repair__steps--progress_bar::-webkit-progress-bar {
  background-color: var(--light-grey);
  width: 100%;
}
.body_repair__steps--progress_bar::-webkit-progress-value {
  -webkit-transition: width linear 0.5s;
  transition: width linear 0.5s;
  background-color: var(--dark-blue);
  border-radius: 15px;
}
@media (max-width: 600px) {
  .body_repair__steps--progress_bar {
    display: block;
  }
}
.body_repair__steps_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 45px;
  position: relative;
}
@media (max-width: 600px) {
  .body_repair__steps_wrapper {
    height: 80px;
    overflow-y: hidden;
    margin-top: 10px;
  }
}
.body_repair__steps_wrapper::before {
  content: "";
  display: block;
  width: 3px;
  height: 30%;
  background-color: #0032A0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in;
}
@media (max-width: 600px) {
  .body_repair__steps_wrapper::before {
    display: none;
  }
}
.body_repair__steps_wrapper--step_2::before {
  top: 120px;
}
.body_repair__steps_wrapper--step_3::before {
  top: 240px;
}
.body_repair__steps--caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  color: #000000;
  text-align: left;
}
@media (max-width: 600px) {
  .body_repair__steps--caption {
    font-size: 20px;
    line-height: 26px;
    width: 79%;
  }
}
.body_repair__step {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--grey);
  text-align: left;
  margin-left: 16px;
  transition: all 0.5s ease-in;
}
@media (max-width: 600px) {
  .body_repair__step {
    margin-left: 0;
  }
  .body_repair__step--adaptive {
    transform: translateY(-163%);
  }
  .body_repair__step--step_3--adaptive {
    transform: translateY(-375%);
  }
}
@media (max-width: 600px) and (max-width: 450px) {
  .body_repair__step--step_3--adaptive {
    transform: translateY(-445%);
  }
}
.body_repair__step--active {
  color: var(--black);
  position: relative;
}
.body_repair__step--caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}
@media (max-width: 600px) {
  .body_repair__step--caption {
    font-size: 14px;
    line-height: 17.07px;
  }
}
.body_repair__step--desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  white-space: wrap;
}
@media (max-width: 600px) {
  .body_repair__step--desc {
    width: 100% !important;
    font-size: 16px;
    line-height: 19.5px;
  }
}
.body_repair__step:nth-of-type(1) .body_repair__step--desc {
  width: 80%;
}
.body_repair__step:nth-of-type(2) .body_repair__step--desc {
  width: 50%;
}
.body_repair__step:nth-of-type(3) .body_repair__step--desc {
  width: 100%;
}
.body_repair__leave_request {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  background-color: #FAFAFA;
  color: #000000;
  justify-self: center;
  transition: opacity 0.5s ease-in;
  width: 600px;
  /* Блок с загруженными изображениями */
  /* Текст drag-n-drop блока */
}
.body_repair__leave_request--disabled {
  opacity: 0.35;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.body_repair__leave_request--disabled .body_repair__leave_request--input_image--choose {
  pointer-events: none;
}
@media (max-width: 600px) {
  .body_repair__leave_request {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
  }
}
.body_repair__leave_request--caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  text-align: center;
}
.body_repair__leave_request--desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  white-space: wrap;
  margin-top: 10px;
  width: 60%;
  align-self: center;
}
@media (max-width: 600px) {
  .body_repair__leave_request--desc {
    width: 100%;
  }
}
.body_repair__leave_request--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.body_repair__leave_request--info {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.body_repair__leave_request--input {
  box-shadow: 0px 1px 1px var(--light-grey);
  width: 100%;
  height: 30px;
  background-color: transparent;
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
  transition: opacity 0.5s ease-in;
}
.body_repair__leave_request--input--disabled {
  opacity: 0.35;
}
.body_repair__leave_request--input--disabled::-moz-placeholder {
  opacity: 0.35;
}
.body_repair__leave_request--input--disabled::placeholder {
  opacity: 0.35;
}
.body_repair__leave_request--input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
  -moz-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.body_repair__leave_request--input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-grey);
  transition: opacity 0.5s ease-in;
}
@media (max-width: 600px) {
  .body_repair__leave_request--input::-moz-placeholder {
    font-size: 16px;
    line-height: 20.8px;
  }
  .body_repair__leave_request--input::placeholder {
    font-size: 16px;
    line-height: 20.8px;
  }
}
.body_repair__leave_request--button {
  margin-top: 15px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}
.body_repair__leave_request--button--disabled {
  opacity: 0.35;
}
@media (max-width: 600px) {
  .body_repair__leave_request--button {
    margin-top: 0;
  }
}
.body_repair__leave_request__images {
  display: flex;
  max-height: 150px;
  overflow-x: auto;
  max-width: 600px;
  gap: 20px;
}
@media (max-width: 600px) {
  .body_repair__leave_request__images {
    width: 100%;
  }
}
.body_repair__leave_request--input_image {
  width: 100%;
  height: 112px;
  -o-border-image: url(../../images/leave_request__border_image.png);
     border-image: url(../../images/leave_request__border_image.png);
  border-image-repeat: round;
  border-image-slice: 1;
  border-image-width: 2px;
  margin-top: 20px;
  transition: 0.5s ease-in all;
}
@media (max-width: 600px) {
  .body_repair__leave_request--input_image {
    height: 102px;
  }
}
.body_repair__leave_request--input_image_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 5px;
  pointer-events: none;
}
@media (max-width: 600px) {
  .body_repair__leave_request--input_image_text {
    gap: 20px;
  }
}
.body_repair__leave_request--input_image--icon {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}
.body_repair__leave_request--input_image--text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  white-space: wrap;
  width: 58%;
}
@media (max-width: 600px) {
  .body_repair__leave_request--input_image--text {
    font-size: 16px;
    line-height: 20.8px;
    width: 100%;
  }
}
.body_repair__leave_request--input_image--choose {
  color: var(--dark-blue);
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
  pointer-events: all;
}
@media (max-width: 600px) {
  .body_repair__leave_request--input_image--choose {
    font-size: 16px;
    line-height: 20.8px;
  }
}
.body_repair__leave_request--input_image--choose--drop {
  pointer-events: none;
}
.body_repair__leave_request--input_image--active {
  border-image-width: 4px;
  box-shadow: inset 0px 0px 20px black;
}
.body_repair__image {
  margin-top: 200px;
  width: 100%;
  height: 650px;
  position: relative;
  right: 30px;
  /* Стили для каждого айтема */
}
@media (max-width: 600px) {
  .body_repair__image {
    display: none;
  }
}
.body_repair__image_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.body_repair__image--img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .body_repair__image--img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.body_repair__image__item {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  z-index: 1;
  /* Индивидуальные стили для айтемов */
}
.body_repair__image__item_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--dark-grey);
  border-bottom: 1px #BCBCBC solid;
  text-align: left;
  width: 120%;
  white-space: nowrap;
}
.body_repair__image__item_price {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  color: #000000;
  text-align: left;
}
.body_repair__image__item--front_bumper {
  top: 56%;
  left: 6%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--front_bumper {
    left: 4%;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .body_repair__image__item--front_bumper {
    left: 14%;
    top: 29%;
  }
  .body_repair__image__item--front_bumper .body_repair__image__item_title {
    width: 100%;
  }
  .body_repair__image__item--front_bumper::after {
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: var(--grey);
    transform: rotateZ(41deg);
    position: absolute;
    top: -6%;
    right: 48%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--front_bumper {
    top: 52%;
    left: 0%;
  }
}
@media (max-width: 900px) {
  .body_repair__image__item--front_bumper {
    left: 4%;
    top: 29%;
  }
  .body_repair__image__item--front_bumper .body_repair__image__item_title {
    width: 100%;
  }
  .body_repair__image__item--front_bumper::after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    background-color: var(--grey);
    transform: rotateZ(10deg);
    position: absolute;
    top: 37%;
    right: 9%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--front_bumper {
    left: 3%;
    top: 27%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--front_bumper {
    left: 0%;
  }
}
.body_repair__image__item--bonnet {
  top: 17%;
  left: 14%;
}
.body_repair__image__item--bonnet::after {
  content: "";
  display: block;
  width: 1px;
  height: 180px;
  background-color: var(--grey);
  transform: rotateZ(-42deg);
  position: absolute;
  top: -4%;
  right: -117%;
}
@media (max-width: 1000px) {
  .body_repair__image__item--bonnet {
    top: 19%;
    left: 6%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--bonnet {
    top: 13%;
    left: 15%;
  }
  .body_repair__image__item--bonnet::after {
    transform: rotateZ(0deg);
    top: 40%;
    right: -22%;
  }
}
.body_repair__image__item--window {
  top: 1%;
  left: 24.5%;
}
.body_repair__image__item--window::after {
  content: "";
  display: block;
  width: 1px;
  height: 250px;
  background-color: var(--grey);
  transform: rotateZ(-35deg);
  position: absolute;
  top: -7%;
  right: -135%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--window {
    top: 13%;
    left: 33.5%;
  }
  .body_repair__image__item--window::after {
    height: 150px;
    transform: rotateX(0deg);
    top: 39%;
    right: -21%;
  }
}
@media (max-width: 1100px) {
  .body_repair__image__item--window {
    left: 30%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--window {
    top: 14%;
    left: 31%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--window {
    top: 23%;
    left: 29%;
  }
  .body_repair__image__item--window::after {
    height: 100px;
    top: 39%;
    right: -21%;
  }
}
.body_repair__image__item--door_handle {
  top: 6%;
  left: 44%;
}
.body_repair__image__item--door_handle::after {
  content: "";
  display: block;
  width: 1px;
  height: 210px;
  background-color: var(--grey);
  transform: rotateZ(-7deg);
  position: absolute;
  top: 38%;
  right: -42%;
}
@media (max-width: 1000px) {
  .body_repair__image__item--door_handle {
    top: 7%;
    left: 40%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--door_handle {
    left: 36%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--door_handle {
    left: 33%;
  }
}
.body_repair__image__item--roof {
  top: 8.5%;
  left: 62%;
}
.body_repair__image__item--roof .body_repair__image__item_title {
  text-align: right;
}
.body_repair__image__item--roof .body_repair__image__item_price {
  position: relative;
  left: 10px;
}
.body_repair__image__item--roof::after {
  content: "";
  display: block;
  width: 1px;
  height: 65px;
  background-color: var(--grey);
  transform: rotateZ(20deg);
  position: absolute;
  top: 35%;
  right: 118%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--roof {
    top: 12%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--roof {
    top: 18%;
  }
}
@media (max-width: 900px) {
  .body_repair__image__item--roof {
    top: 20%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--roof {
    top: 23%;
  }
}
.body_repair__image__item--back_wing {
  top: -14%;
  left: 67%;
}
.body_repair__image__item--back_wing::after {
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  background-color: var(--grey);
  transform: rotateZ(-5deg);
  position: absolute;
  top: 39%;
  right: -33%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--back_wing {
    left: 65%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--back_wing {
    left: 62%;
    top: -3%;
  }
  .body_repair__image__item--back_wing::after {
    height: 250px;
  }
}
@media (max-width: 900px) {
  .body_repair__image__item--back_wing {
    left: 58%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--back_wing {
    top: 10%;
  }
  .body_repair__image__item--back_wing::after {
    height: 170px;
    top: 36%;
    right: -26%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--back_wing {
    top: 13%;
    left: 54%;
  }
}
.body_repair__image__item--boot_cover {
  top: 0.5%;
  left: 88%;
}
.body_repair__image__item--boot_cover .body_repair__image__item_title {
  text-align: right;
}
.body_repair__image__item--boot_cover .body_repair__image__item_price {
  position: relative;
  left: 110px;
}
.body_repair__image__item--boot_cover::after {
  content: "";
  display: block;
  width: 1px;
  height: 242px;
  background-color: var(--grey);
  transform: rotateZ(25deg);
  position: absolute;
  top: 15%;
  right: 135%;
}
@media (max-width: 1200px) {
  .body_repair__image__item--boot_cover::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .body_repair__image__item--boot_cover {
    top: 35.5%;
    left: 83%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--boot_cover {
    top: 36.5%;
    left: 80%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--boot_cover {
    top: 39%;
  }
}
.body_repair__image__item--back_bumper {
  top: 54%;
  left: 82.5%;
}
.body_repair__image__item--back_bumper .body_repair__image__item_title {
  text-align: right;
  width: 140%;
}
.body_repair__image__item--back_bumper .body_repair__image__item_price {
  position: relative;
  left: 75px;
}
@media (max-width: 1100px) and (min-width: 1000px) {
  .body_repair__image__item--back_bumper {
    left: 88%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--back_bumper {
    top: 51%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--back_bumper {
    top: 48%;
  }
}
.body_repair__image__item--back_door {
  top: 85%;
  left: 68%;
}
.body_repair__image__item--back_door .body_repair__image__item_title {
  text-align: right;
  width: 140%;
}
.body_repair__image__item--back_door .body_repair__image__item_price {
  position: relative;
  left: 75px;
}
.body_repair__image__item--back_door::after {
  content: "";
  display: block;
  width: 1px;
  height: 270px;
  background-color: var(--grey);
  transform: rotateZ(-10deg);
  position: absolute;
  top: -495%;
  right: 122%;
}
@media (max-width: 1200px) {
  .body_repair__image__item--back_door {
    left: 74%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--back_door {
    top: 84%;
    left: 70%;
  }
}
.body_repair__image__item--body_sill {
  top: 75%;
  left: 54%;
}
.body_repair__image__item--body_sill .body_repair__image__item_title {
  text-align: right;
  width: 140%;
}
.body_repair__image__item--body_sill .body_repair__image__item_price {
  position: relative;
  left: 75px;
}
.body_repair__image__item--body_sill::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
  transform: rotateZ(-20deg);
  position: absolute;
  top: -154%;
  right: 115%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--body_sill {
    top: 70%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--body_sill {
    top: 68%;
    left: 52%;
  }
}
@media (max-width: 900px) {
  .body_repair__image__item--body_sill .body_repair__image__item_price {
    left: 40px;
  }
  .body_repair__image__item--body_sill .body_repair__image__item_title {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--body_sill {
    top: 63%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--body_sill {
    left: 45%;
  }
  .body_repair__image__item--body_sill::after {
    transform: rotateY(0deg);
    top: -160%;
    right: 100%;
  }
}
.body_repair__image__item--front_door {
  top: 84%;
  left: 42%;
}
.body_repair__image__item--front_door .body_repair__image__item_title {
  text-align: right;
  width: 110%;
}
.body_repair__image__item--front_door .body_repair__image__item_price {
  position: relative;
  left: 65px;
}
.body_repair__image__item--front_door::after {
  content: "";
  display: block;
  width: 1px;
  height: 270px;
  background-color: var(--grey);
  transform: rotateZ(-10deg);
  position: absolute;
  top: -495%;
  right: 119%;
}
@media (max-width: 1000px) {
  .body_repair__image__item--front_door {
    top: 86%;
    left: 46%;
  }
}
.body_repair__image__item--front_wing {
  top: 80%;
  left: 11%;
}
.body_repair__image__item--front_wing .body_repair__image__item_title {
  width: 157%;
}
.body_repair__image__item--front_wing::after {
  content: "";
  display: block;
  width: 1px;
  height: 270px;
  background-color: var(--grey);
  transform: rotateZ(30deg);
  position: absolute;
  top: -463%;
  right: -110%;
}
@media (max-width: 1400px) {
  .body_repair__image__item--front_wing {
    left: 7%;
  }
}
@media (max-width: 1200px) {
  .body_repair__image__item--front_wing {
    left: 2%;
  }
}
@media (max-width: 1000px) {
  .body_repair__image__item--front_wing {
    left: 0%;
  }
}
@media (max-width: 900px) {
  .body_repair__image__item--front_wing {
    left: 9%;
    top: 64%;
  }
  .body_repair__image__item--front_wing .body_repair__image__item_title {
    width: 110%;
  }
  .body_repair__image__item--front_wing::after {
    height: 150px;
    top: -240%;
    right: -40%;
  }
}
@media (max-width: 800px) {
  .body_repair__image__item--front_wing {
    left: 4%;
    top: 62%;
  }
}
@media (max-width: 700px) {
  .body_repair__image__item--front_wing {
    left: 10%;
    top: 65%;
  }
  .body_repair__image__item--front_wing::after {
    transform: rotateZ(0deg);
    top: -260%;
    right: -11%;
  }
}
.body_repair__image--adaptive {
  display: none;
  width: 110%;
  height: 350px;
  /* Стили для каждого айтема */
}
@media (max-width: 600px) {
  .body_repair__image--adaptive {
    display: block;
  }
}
@media (max-width: 400px) {
  .body_repair__image--adaptive {
    width: 130%;
  }
}
.body_repair__image--adaptive_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.body_repair__image--adaptive--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.body_repair__image--adaptive__item {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  z-index: 1;
  /* Индивидуальные стили для айтемов */
}
.body_repair__image--adaptive__item_title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  color: var(--dark-grey);
  border-bottom: 1px #BCBCBC solid;
  text-align: left;
  width: 120%;
}
.body_repair__image--adaptive__item_price {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  color: #000000;
  text-align: left;
}
.body_repair__image--adaptive__item--front_bumper {
  left: 13%;
  top: 32%;
}
.body_repair__image--adaptive__item--front_bumper .body_repair__image--adaptive__item_title {
  width: 60%;
}
.body_repair__image--adaptive__item--front_bumper::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
  transform: rotateZ(30deg);
  position: absolute;
  top: 43%;
  right: 65%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--front_bumper {
    top: 29%;
    left: 12%;
  }
}
@media (max-width: 400px) {
  .body_repair__image--adaptive__item--front_bumper {
    top: 26%;
  }
}
.body_repair__image--adaptive__item--bonnet {
  top: 10%;
  left: 11%;
}
.body_repair__image--adaptive__item--bonnet::after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  background-color: var(--grey);
  transform: rotateZ(-22deg);
  position: absolute;
  top: 28%;
  right: -72%;
}
@media (max-width: 400px) {
  .body_repair__image--adaptive__item--bonnet {
    top: 10%;
    left: 11%;
  }
  .body_repair__image--adaptive__item--bonnet::after {
    top: 32%;
    right: -58%;
    transform: rotateZ(-15deg);
  }
}
.body_repair__image--adaptive__item--window {
  top: -5%;
  left: 15%;
}
.body_repair__image--adaptive__item--window::after {
  content: "";
  display: block;
  width: 1px;
  height: 170px;
  background-color: var(--grey);
  transform: rotateZ(-35deg);
  position: absolute;
  top: -3%;
  right: -126%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--window {
    top: -1%;
    left: 10%;
  }
}
@media (max-width: 400px) {
  .body_repair__image--adaptive__item--window {
    top: -3%;
    left: 12%;
  }
  .body_repair__image--adaptive__item--window::after {
    transform: rotateZ(-25deg);
    height: 150px;
    top: 19%;
    right: -90%;
  }
}
.body_repair__image--adaptive__item--door_handle {
  top: -1%;
  left: 40%;
}
.body_repair__image--adaptive__item--door_handle::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  background-color: var(--grey);
  transform: rotateZ(-7deg);
  position: absolute;
  top: 38%;
  right: -42%;
}
@media (max-width: 450px) {
  .body_repair__image--adaptive__item--door_handle {
    left: 35%;
  }
}
.body_repair__image--adaptive__item--roof {
  top: 12%;
  left: 56%;
}
.body_repair__image--adaptive__item--roof .body_repair__image--adaptive__item_title {
  text-align: right;
}
.body_repair__image--adaptive__item--roof .body_repair__image--adaptive__item_price {
  position: relative;
  left: 10px;
}
.body_repair__image--adaptive__item--roof::after {
  content: "";
  display: block;
  width: 1px;
  height: 46px;
  background-color: var(--grey);
  transform: rotateZ(20deg);
  position: absolute;
  top: 35%;
  right: 118%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--roof {
    top: 18%;
    left: 56%;
  }
}
.body_repair__image--adaptive__item--back_wing {
  top: -6%;
  left: 66%;
}
.body_repair__image--adaptive__item--back_wing .body_repair__image--adaptive__item_title {
  width: 150%;
  text-align: right;
}
.body_repair__image--adaptive__item--back_wing .body_repair__image--adaptive__item_price {
  text-align: right;
  position: relative;
  left: 40px;
}
.body_repair__image--adaptive__item--back_wing::after {
  content: "";
  display: block;
  width: 1px;
  height: 170px;
  background-color: var(--grey);
  transform: rotateZ(-30deg);
  position: absolute;
  top: 7%;
  right: 46%;
}
@media (max-width: 600px) {
  .body_repair__image--adaptive__item--back_wing {
    left: 61%;
  }
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--back_wing {
    top: 0%;
    left: 61%;
  }
  .body_repair__image--adaptive__item--back_wing::after {
    height: 150px;
    top: 10%;
    right: 53%;
  }
}
.body_repair__image--adaptive__item--boot_cover {
  top: 9%;
  left: 76%;
}
.body_repair__image--adaptive__item--boot_cover .body_repair__image--adaptive__item_title {
  width: 60%;
}
.body_repair__image--adaptive__item--boot_cover .body_repair__image--adaptive__item_price {
  position: relative;
  left: 25px;
}
.body_repair__image--adaptive__item--boot_cover::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
  transform: rotateZ(-30deg);
  position: absolute;
  top: 44%;
  right: 77%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--boot_cover {
    top: 10%;
    left: 73%;
  }
}
@media (max-width: 400px) {
  .body_repair__image--adaptive__item--boot_cover {
    top: 20%;
    left: 74%;
  }
  .body_repair__image--adaptive__item--boot_cover::after {
    height: 70px;
    top: 44%;
    right: 81%;
    transform: rotateZ(-35deg);
  }
}
.body_repair__image--adaptive__item--back_bumper {
  top: 85%;
  left: 73.5%;
}
.body_repair__image--adaptive__item--back_bumper .body_repair__image--adaptive__item_title {
  width: 56%;
}
.body_repair__image--adaptive__item--back_bumper::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
  transform: rotateZ(10deg);
  position: absolute;
  top: -132%;
  right: 32%;
}
@media (max-width: 450px) {
  .body_repair__image--adaptive__item--back_bumper {
    top: 79%;
    left: 70%;
  }
}
.body_repair__image--adaptive__item--body_sill {
  top: 87%;
  left: 55%;
}
.body_repair__image--adaptive__item--body_sill .body_repair__image--adaptive__item_price {
  position: relative;
  left: 20px;
}
.body_repair__image--adaptive__item--body_sill .body_repair__image--adaptive__item_title {
  text-align: right;
  width: 80%;
}
.body_repair__image--adaptive__item--body_sill::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
  transform: rotateY(0deg);
  position: absolute;
  top: -134%;
  right: 100%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--body_sill {
    top: 82%;
  }
}
.body_repair__image--adaptive__item--front_door {
  top: 82%;
  left: 38%;
}
.body_repair__image--adaptive__item--front_door .body_repair__image--adaptive__item_title {
  width: 90%;
}
.body_repair__image--adaptive__item--front_door .body_repair__image--adaptive__item_price {
  position: relative;
  left: 35px;
}
.body_repair__image--adaptive__item--front_door::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  background-color: var(--grey);
  transform: rotateZ(0deg);
  position: absolute;
  top: -191%;
  right: 101%;
}
@media (max-width: 500px) {
  .body_repair__image--adaptive__item--front_door {
    top: 72%;
    left: 38%;
  }
  .body_repair__image--adaptive__item--front_door .body_repair__image--adaptive__item_title {
    width: 70%;
  }
  .body_repair__image--adaptive__item--front_door .body_repair__image--adaptive__item_price {
    left: 20px;
  }
  .body_repair__image--adaptive__item--front_door::after {
    height: 100px;
    top: -133%;
    right: 101%;
  }
}
.body_repair__image--adaptive__item--front_wing {
  left: 17%;
  top: 81%;
}
.body_repair__image--adaptive__item--front_wing .body_repair__image--adaptive__item_title {
  width: 90%;
}
.body_repair__image--adaptive__item--front_wing::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  background-color: var(--grey);
  position: absolute;
  transform: rotateZ(0deg);
  top: -190%;
  right: 9%;
}
@media (max-width: 400px) {
  .body_repair__image--adaptive__item--front_wing {
    left: 13%;
    top: 73%;
  }
  .body_repair__image--adaptive__item--front_wing::after {
    height: 100px;
    top: -134%;
    right: 9%;
  }
}/*# sourceMappingURL=body_repair.css.map */